body::-webkit-scrollbar, html::-webkit-scrollbar{
  display: none;
}
body{
  margin:0;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


#SITE_HEADER_WRAPPER {
  top: 0;
  position: relative;
  left: 0;
  right: 0;
  grid-area: 1/1/2/2;
  display: block;
}

#SITE_HEADER {
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #435a7d;
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
  --pinned-layer-in-container: 50;
  --above-all-in-container: 49;
}

._1U65c,
._319u9 {
  width: 100%;
  height: auto;
  background-color: #617491;
  position: relative;
}

._3Fgqs ._3N4he {
  width: 72%;
  height: 50px;
  background-color: #617491;
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

._3N4he div {
  display: flex;
  color:rgb(24, 79, 122);
  font-size: 23px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

._1U65c,
._319u9 {
  position: relative;
  width: 100%;
}

._1U65c {
  height: auto;
}

#comp-kik8dht6:not([data-screen-in-hide="done"]) {
  opacity: 0
}

#comp-kik8u7l1:not([data-screen-in-hide="done"]) {
  opacity: 0
}

[data-mesh-id=Containermua1ninlineContent] {
  height: auto;
  width: 100%;
  display: flex
}

[data-mesh-id=Containermua1ninlineContent-gridContainer] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 794px;
  margin-top: -56px;
  grid-template-rows: repeat(20, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box
}

[data-mesh-id="comp-kipqnjq3-rotated-wrapper"]>[id="comp-kipqnjq3"] {
  position: relative;
  left: 60px;
  top: -17px;
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kik7pg1u"] {
  position: relative;
  margin: 0px 0px -403px calc((100% - 980px) * 0.5);
  left: -470px;
  grid-area: 2 / 1 / 9 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kik89s0w"] {
  position: relative;
  margin: 0px 0px -19px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kik8bb97"] {
  position: relative;
  margin: 38px 0px -85px calc((100% - 980px) * 0.5);
  left: 40px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kik8dht6"] {
  position: relative;
  margin: 51px 0px -314px calc((100% - 980px) * 0.5);
  left: 415px;
  grid-area: 2 / 1 / 8 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kik8gdsr"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: -470px;
  grid-area: 9 / 1 / 22 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kipqa71n"] {
  position: relative;
  margin: 0px 0px -65px calc((100% - 980px) * 0.5);
  left: 165px;
  grid-area: 8 / 1 / 16 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=comp-kipqnjq3-rotated-wrapper] {
  position: static;
  height: 613px;
  width: 0;
  margin: 0px 0px -26px calc((100% - 980px) * 0.5);
  grid-area: 6 / 1 / 17 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kik8p0ue"] {
  position: relative;
  margin: 50px 0px 0 calc((100% - 980px) * 0.5);
  left: -471px;
  grid-area: 9 / 1 / 21 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kik8u7l1"] {
  position: relative;
  margin: 0px 0px -32px calc((100% - 980px) * 0.5);
  left: 660px;
  grid-area: 5 / 1 / 7 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kik9a05i"] {
  position: relative;
  margin: 90px 0px 0px calc((100% - 980px) * 0.5);
  left: 99px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kipqp704"] {
  position: relative;
  margin: 23px 0px 10px calc((100% - 980px) * 0.5);
  left: 288px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kixfuoev"] {
  position: relative;
  margin: 0px 0px -6px calc((100% - 980px) * 0.5);
  left: 267px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kixfyipi"] {
  position: relative;
  margin: 0px 0px -6px calc((100% - 980px) * 0.5);
  left: 82px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-kiz0dz15"] {
  position: relative;
  margin: 0 0px 3px calc((100% - 980px) * 0.5);
  left: 108px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start
}

[data-mesh-id=Containermua1ninlineContent-gridContainer]>[id="comp-l31madmp"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 712px;
  grid-area: 17 / 1 / 18 / 2;
  justify-self: start;
  align-self: start
}

#comp-kik7pg1u {
  width: 1910px;
  height: 835px
}

#comp-kik89s0w {
  width: 69px;
  height: 68px
}

#comp-kik8bb97 {
  width: 386px;
  height: 222px
}

#comp-kik8dht6 > div {
  box-sizing: border-box;
  width: 616px;
  height: 661px;
}

#comp-kik8dht6  #ballon {
  position: relative;
  box-sizing: border-box;
  width: 316px;
  height: 361px;
  transition: width 2s, height 2s;
  z-index: 50;
}

#comp-kik8dht6 img{
  position: absolute;
}

#comp-kik8dht6 #img1{
  width: 100%;
  top:0;
  right: 0;
}

#comp-kik8dht6 #img2{
  width: 45%;
  margin-top: 20%;
  margin-left: 40%;
}

#comp-kik8gdsr {
  width: 1911px;
  height: 455px
}

#comp-kipqa71n {
  width: 396px;
  height: 464px
}

#comp-kipqnjq3 {
  transform: rotate(4.201869765475351deg);
  width: 126px;
  height: 605px
}

#comp-kik8p0ue {
  width: 1911px;
  height: 405px
}

#comp-kik8u7l1 img:hover{
  width: 285px;
  height: 255px
}

#comp-kik9a05i {
  font-style: italic;
  width: 223px;
  height: 39px
}

#comp-kipqp704 {
  width: 140px;
  height: 136px
}

#comp-kixfuoev {
  width: 102px;
  /* height: 37px */
}

#comp-kixfyipi {
  width: 170px;
  height: 37px
}

#comp-kiz0dz15 {
  width: 111px;
  height: 19px;
  padding-top: -10px;
}

#comp-kiz0dz15 p {
}

#comp-l31madmp {
  width: 728px;
  height: 90px
}

#mua1n {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px
}

#masterPage {
  --pinned-layers-in-page: 0
}

#comp-kik7pg1u {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 835px;
  --width: 1910px
}

#comp-kik89s0w {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 68px;
  --width: 69px
}

#comp-kik8bb97 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 222px;
  --width: 386px
}

#comp-kik8dht6 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 661px;
  --width: 616px
}

#comp-kik8gdsr {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 455px;
  --width: 1911px
}

#comp-kipqa71n {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 464px;
  --width: 396px
}

#comp-kipqnjq3 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 605px;
  --width: 126px
}

#comp-kik8p0ue {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 405px;
  --width: 1911px
}

#comp-kik8u7l1 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 255px;
  --width: 285px
}

#comp-kik9a05i {
  --min-height: 39px;
  height: auto
}

#comp-kipqp704 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 136px;
  --width: 140px
}

#comp-kixfyipi {
  --shd: -0.71px 0.71px 4px 0px rgba(0, 0, 0, 0.6);
  --brdd: 230, 230, 230;
  --rd: 6px;
  --fnt: normal normal normal 19px/1.4em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  --brw: 0px;
  --bg: 94, 224, 138;
  --txt: 255, 255, 255;
  --alpha-txt: 1;
  --brd: 82, 204, 160;
  --txt2: 255, 255, 255;
  --alpha-txt2: 1;
  --brwh: 0px;
  --bgh: 94, 224, 138;
  --brdh: 82, 204, 160;
  --brwf: 0px;
  --bgf: 75, 219, 123;
  --brdf: 89, 153, 129;
  --brwe: 1px;
  --bge: 255, 64, 64;
  --brde: 255, 64, 64;
  --alpha-brde: 1;
  --trns: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  --bgd: 219, 219, 219;
  --fntlbl: normal normal normal 14px/1.4em bree-w01-thin-oblique, bree-w05-thin-oblique, sans-serif;
  --txtlbl: 75, 219, 123;
  --alpha-txtlbl: 1;
  --txtd: 255, 255, 255;
  --txtlblrq: 75, 219, 123;
  --alpha-txtlblrq: 1;
  --fntprefix: normal normal normal 16px/1.4em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  --alpha-bgf: 1;
  --alpha-bgd: 1;
  --alpha-brdd: 1;
  --alpha-bge: 1;
  --alpha-brdh: 1;
  --alpha-brd: 1;
  --alpha-bg: 0.65;
  --alpha-txtd: 1;
  --alpha-bgh: 1;
  --alpha-brdf: 1;
  --dir: ltr;
  --textAlign: left;
  --textPadding: 3px 3px 3px 18px;
  --labelPadding: 0 20px 0 0px;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 14px;
  height: auto;
  --brwd: 0px;
  --inputHeight: 37px
}

#comp-kiz0dz15 {
  height: auto
}

#mua1n {
  width: auto;
  min-height: 738px
}

#pageBackground_mua1n {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_13));
  --bg-gradient: none
}

/* END STYLABLE DIRECTIVE RULES */

#comp-kixfuoev .style-l31lc0n2__root {
  background: repeat padding-box border-box 0% 0%/auto auto scroll linear-gradient(145deg, #ffeeee 0%, rgba(235, 240, 212, 0) 100%), #EBF0D4;
  border: none;
  padding: 10px 5px;
  border-radius: 6px
}

#comp-kixfuoev .style-l31lc0n2__root:hover {
  background: repeat padding-box border-box 0% 0%/auto auto scroll linear-gradient(145deg, #ffeeee 0%, rgba(235, 240, 212, 0) 100%), #FFEEEE
}

#comp-kixfuoev .style-l31lc0n2__root:disabled {
  background: #E2E2E2
}

#comp-kixfuoev .style-l31lc0n2__root:disabled .StylableButton2545352419__label {
  color: #8F8F8F
}

#comp-kixfuoev .style-l31lc0n2__root:disabled .StylableButton2545352419__icon {
  fill: #8F8F8F
}

#comp-kixfuoev .style-l31lc0n2__root .StylableButton2545352419__container {
  transition: inherit;
  display: flex;
  flex-direction: row-reverse;
}

#comp-kixfuoev .style-l31lc0n2__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 0px 0px 2px;
  letter-spacing: 0.1em;
  color: #000000;
  font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal
}

#comp-kixfuoev .style-l31lc0n2__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 14px;
  height: 14px;
  margin: 0px 1.5px 0px 0px;
  fill: #000000
}

#comp-kiz0dz15 {
  visibility: hidden;
}

#input_comp-kixfyipi {
  box-shadow: var(--shd, 0 0 0 transparent);
  font: var(--fnt, var(--font_8));
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: var(--corvid-border-radius, var(--rd, 0));
  background-color: greenyellow;
  border: none;
  box-sizing: border-box !important;
  padding: var(--textPadding);
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  text-align: var(--textAlign);
  direction: var(--dir);
  min-height: var(--inputHeight);
  width: 100%;

}

.Z6QKu {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  position: fixed;
  z-index: 100;
  display: none;
}

.o-mwB, .o-mwB>div {
  margin: 0 auto;
}

.o-mwB {
  position: relative;
  width: auto;
}

#sxtum {
  --bg-overlay-color: rgba(0, 0, 0, 0.8);
  background-color:rgba(0, 0, 0, 0.8) ;
  --bg-gradient: none;
  width: auto;
  --pinned-layer-in-container: 50;
  --above-all-in-container: 49;
}

._3Ipid ._1XxOx {
  position: fixed;
}

._2DihO {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0;
  z-index: 50;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100vh,1fr);
  pointer-events: none;
}

#comp-kipr32kf {
  --alpha-bg: 1;
  --bg: rgba(255,255,255,1);
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  justify-self: center;
  align-self: center;
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}

[data-mesh-id=Containercomp-kipr32kfinlineContent] {
  height: auto;
  display: flex;
}

[data-mesh-id$=centeredContent], [data-mesh-id$=form], [data-mesh-id$=inlineContent] {
  position: relative;
  pointer-events: none;
}

[data-mesh-id=Containercomp-kipr32kfinlineContent-gridContainer] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-bottom: -30px;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}   

#comp-kkeizdxi {
  width: 296px;
  height: 371px;
  opacity: 0;
  transition: opacity 2s;
}

[data-mesh-id=Containercomp-kipr32kfinlineContent-gridContainer] > [id="comp-kkeizdxi"] {
  position: relative;
  margin: 3px 0px 2px 0;
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}

.Z6QKu:hover #comp-kkeizdxi{
  opacity: 1;
}

.XUUsC {
  position: var(--position-fixed,static);
  left: var(--left,auto);
  top: var(--top,auto);
  z-index: var(--z-index,auto);
}

[data-mesh-id$=-gridContainer]>*, [data-mesh-id$=-rotated-wrapper]>*, [data-mesh-id$=inlineContent]>:not([data-mesh-id$=-gridContainer]) {
  pointer-events: auto;
}
.XUUsC .xQ_iF {
  display: block;
}

#comp-kipr32n41 {
  --alpha-fillcolor: 1;
  --alpha-stroke: 1;
  --fillcolor: 0,0,0;
  --stroke: rgb(255, 255, 255);
  --strokewidth: 1;
  --fill: #000000;
  --fill-opacity: 1;
  --stroke-width: 1px;
}

#comp-kipr32n41 {
  width: 30px;
  height: 30px;
}

._3ImoN ._1RsPI, ._3ImoN svg {
  width: 100%;
  height: 100%;
}

._3ImoN svg {
  fill: black;
  fill-opacity: 1;
  stroke: white;
  stroke-width: 3px;
}

._3ImoN {
  cursor: pointer;
}
[data-mesh-id=Containercomp-kipr32kfinlineContent-gridContainer] > [id="comp-kipr32n41"] {
  position: relative;
  margin: 0px 0px 0px 0;
  left: 135px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}

